﻿@model GalactikFouteBole.Models.Blog
@{
    ViewBag.Title = "Blogs";
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;

}
<h2>LES BLOGS</h2>
<div>
    @Model.Subject du @Model.DayWritten
    <hr />
    @Model.Message
</div>
<div>
    <hr />
    <p>Espace commentaires</p>
    @if (Model.CommentsOnBlog.Count <= 0)
    {
        <div>Aucun commentaire pour ce post.</div>
    }
    else
    {
        foreach (GalactikFouteBole.Models.Comment comment in Model.CommentsOnBlog)
        {
            if (comment.HasBeenAccepted)
            {
                <hr/>
                <div><p><em>@comment.Body</em></p></div>
                <div><i>Posté par : @comment.Author</i></div>
                if (currentUser!=null && comment.Author_id == currentUser.Id)
                {
                    <button id="ec_@comment.Id">Editer le commentaire</button>
                }
                if (currentUser!=null && currentUser.IsAdmin)
                {
                    <button id="de_@comment.Id">Supprimer le commentaire</button>
                }
            }
        }
    }
    @if (currentUser != null)
    {
        <div>
            <button id="post-comment">Poster un commentaire</button>
        </div>
    }
</div>

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script type="text/javascript">
    $('button[id^=ec_]').click(function () {
        var id = this.id.substring(3);
        EditComment(id);
    });

    $('#post-comment').click(function () {
        window.location.href = '@Url.Action("AddCom", "Blogs", new { blogId = Model.Id })';
    });

    $('button[id^=de_]').click(function () {
        var id = this.id.substring(3);
        DeleteComment(id);
    });

    function DeleteComment(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("DelCom", "Blogs")",
            data: { comId: id },
            success: function () {
                window.location.href = '@Url.Action("Index", "Blogs")/';
            }
        });
    }

    function EditComment(id) {
        @*$.ajax({
            type: "POST",
            url: '@Url.Action("EditCom", "Blogs")',
            data: { comId: id },
            success: function () {
                window.location.href = '@Url.Action("Index", "Blogs")/';
            }
        });*@
        window.location.href = '@Url.Action("EditCom", "Blogs")?id=' + id;
    }
</script>