﻿@model GalactikFouteBole.Models.Comment
@{
    ViewBag.Title = "EditCom";
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @if (currentUser == null)
    {
        Url.Action("Index", "Blogs");
    }
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Ajouter un commentaire</h1>
                        <div class="description">
                            <p>
                                Formulaire pour éditer le commentaire par l'auteur @Model.Author.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-content">Contenu du commentaire</label>
                                <textarea id="form-content" name="form-content" value="@Model.Body" class="form-content form-control"></textarea>
                            </div>
                            <button id="register-post" class="btn">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @section Scripts{
        <script type="text/javascript">
            $("#register-post").click(function() {
                var body = document.getElementById("form-content").value;
                var comId = @Model.Id;
                EditComment(body, comId);
            });

            function EditComment(body, comId) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditComment", "Blogs")',
                    data: { body: body, comId: comId },
                    success: function () {
                        window.location.href = '@Url.Action("Index", "Blogs")';
                    }
                });
            }
        </script>
    }

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>


