﻿@model GalactikFouteBole.Models.Blog
@{
    ViewBag.Title = "Edition";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1 id="blogId">Editer le blog n @Model.Id </h1>
                        <div class="description">
                            <p>
                                Edition du blog @Model.Subject
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            @*<div class="form-top-left">
                                    <h3>Conntectez vous</h3>
                                    <p>Entrez vos identifiants pour vous connecter</p>
                                </div>*@
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-blog">Titre de l'article</label>
                                <input id="form-blog" type="text" name="form-blog" placeholder="Titre" class="form-blog form-control" value="@Model.Subject">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-content">Contenu de l'article</label>
                                <textarea id="form-content" name="form-content" placeholder="Lorem ipsum dolor sit amet" class="form-content form-control">@Model.Message</textarea>
                            </div>
                            <button id="register-post" class="btn">Editer le blog</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @section Scripts{


        <script type="text/javascript">


            $("#register-post").click(function() {

                var blogtitle = document.getElementById("form-blog").value;
                var blogcontent = document.getElementById("form-content").value;
                var url = location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                RegisterBlogArticle(id, blogtitle, blogcontent);
                //var form = $("#edit-form-blog").serialize();
                RegisterBlogArticle(id, blogtitle, blogcontent);
            });

            function RegisterBlogArticle(id, blogtitle, blogcontent) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditingBlog", "Blogs")',
                    data: { id: id, blogtitle: blogtitle, blogcontent: blogcontent },
                    success: function () {
                        window.location("@Url.Action("Index", "Blogs")");
                    }

                });
            }

        </script>


    }

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>


