﻿@model IEnumerable<GalactikFouteBole.Models.Blog>  
@{
    ViewBag.Title = "Blogs";
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;
}
<h2>LES BLOGS</h2>
<div>
    @if (currentUser!=null && currentUser.IsAdmin)
    {
        <button id="add-blog" class="button">Ajouter un blog</button>
    }
    @foreach (GalactikFouteBole.Models.Blog blog in Model)
    {
        <div class="container">
           
        <h4><a href="@Url.Action("Detail","Blogs", new { id = blog.Id })">@blog.Subject du @blog.DayWritten</a></h4>
            @if (currentUser != null && currentUser.IsAdmin)
            {
                <button id="b_@blog.Id" class="button">Editer le blog</button> <button id="d_@blog.Id" class="glyphicon glyphicon-remove"></button>
            }
            <div>
                <p>@blog.Message </p>
            </div>
            <hr />
        </div>
    }
</div>


    <!-- Javascript -->
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
@section Scripts{


    <script type="text/javascript">
        $('#add-blog').click(function () {
            AddBlog();
        });

        $('button[id^=b_]').click(function () {
            var id = this.id.substring(2);
            EditButtonArticle(id);

        });

        $('button[id^=d_]').click(function () {
            var id = this.id.substring(2);
            DeleteButtonArticle(id);
        });

        function AddBlog() {
            window.location.href = '@Url.Action("Add", "Blogs")/';
        }

        function EditButtonArticle(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("EditBlog", "Blogs")',
                data: { id: id },
                success: window.location.href= "@Url.Action("EditBlog","Blogs")/" +id
            });
        }

        function DeleteButtonArticle(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteBlog", "Blogs")',
                data: { blogId: id },
                success: function () { window.location.reload(); }
            })
        }

    </script>


}