﻿
@{
    ViewBag.Title = "Connect";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Galactik</strong>FouteBole</h1>
                    <div class="description">
                        <p>
                           Pour accéder à votre espace personnel, veuillez vous connecter
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Connectez vous</h3>
                            <p>Entrez vos identifiants pour vous connecter</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Utilisateur</label>
                                <input id="login" type="text" name="form-username" placeholder="Utilisateur" class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Mot de passe</label>
                                <input id="password"type="password" name="form-password" placeholder="Mot de passe" class="form-password form-control" id="form-password">
                            </div>
                            <button id="connectBtn"  class="btn">Connexion</button>
         
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @section Scripts{


        <script>


            $("#connectBtn").click(function() {

                var username = document.getElementById("login").value;
                var password = document.getElementById("password").value;
                PostDetailsAccounts(username, password);

            });

            function PostDetailsAccounts(username, password) {
                $.ajax({
                    url: '@Url.Action("Logging", "Home")',
                    type: "POST",
                    data: { username: username, password: password },
                    success: function(data) {
                        window.location.href = data
                    }
                });

            }


        </script>


    }
<!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>
