﻿@model GalactikFouteBole.Models.Welcome
@{
    ViewBag.Title = "Home Page";
}

<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="offcanvas.css" rel="stylesheet">
  </head>

<body>


    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-12 col-md-9">
                <p class="float-right hidden-md-up">
                </p>
                <div class="jumbotron">
                    <h1>GalakTikeFouteBole!</h1>
                    <p>Le site de référence pour vos consultations des ligues anglaises de 2e et 3e divisions</p>
                </div>
            @foreach (var item in Model.blogBlock)
            {
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <h2>@item.Subject</h2>
                        <p>@item.Message</p>
                        <p><a id="@item.Id" class="btn btn-secondary" href="@Url.Action("Detail","Blogs", new { id = item.Id })" role="button">Détails du blog</a></p>
                    </div><!--/span-->
                </div><!--/row-->
            }
                
            </div><!--/span-->
        <br />
            <div class="col-2 col-md-3 sidebar-offcanvas" id="sidebar">
            <h3>Résultat des matchs récents</h3>
                <ul class="list-group">
                        @foreach (var item in Model.matchBlock)
                        {
                            foreach (var item2 in item.Equipes)
                            {
                                <div>
                                    <li class="list-group-item">
                                        <p>@item2.TeamName</p>
                                        <img src="@Url.Content("~/Content/ImgTeam/" + item2.TeamId + ".png")" />
                                        
                                    </li>
                                </div>
                            }
                                <div>
                                    @if (item.NombreButEquipe1 >= item.NombreButEquipe2)
                                    {
                                    <p style="text-align:center;"><b>Score : @item.NombreButEquipe1 -  @item.NombreButEquipe2 </b></p>

                                    }
                                    else
                                    {
                                    <p style="text-align:center;"> <b>Score : @item.NombreButEquipe2 - @item.NombreButEquipe1</b></p>
                                    }
                                </div>
                                <br />
                        }



                    
                </ul>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>GalakTikFouteBole</p>
        </footer>

    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
</body>
</html>