﻿
@{
    ViewBag.Title = "Ajout d'un match à une compétition";
}
<h2>Ajout d'un match à une compétition</h2>
<form>
    <div>
        <input name="NomMatch" value="" placeholder="Nom du match"/>
    </div>
    <div>
        <h3>Championnat</h3>
        @Html.DropDownList("Championnat séléctionné",
    new SelectList((System.Collections.IEnumerable)ViewData["ListCompet"], "Id", "CompetitionName"), new { Name = "IdChampionnat", Id = "SelectedChampionship" })
    </div><br />
    <div>
        <h3>Equipe une</h3>
        @Html.DropDownList("Equipe séléctionnée",
    new SelectList((System.Collections.IEnumerable)ViewData["ListTeam"], "TeamId", "TeamName"), new { Name = "IdEquipe1"})
        <input name="NombreButEquipe1" value="" placeholder="Score de l'équipe 1" />
    </div>
    <div>
        <h3>Equipe deux</h3>
        @Html.DropDownList("Equipe séléctionnée",
    new SelectList((System.Collections.IEnumerable)ViewData["ListTeam"], "TeamId", "TeamName"), new { Name = "IdEquipe2" })
        <input name="NombreButEquipe2" value="" placeholder="Score de l'équipe 2" />
    </div>
    <br />
    
   
    
</form>
<button id="AddMatch"> Ajouter le match à la compétition séléctionnée</button>

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script>

    $("#AddMatch").click(function () {

        var form = $("form").serialize();
      
        console.log(form);
        RegisterNewMatch(form);

    });


    function RegisterNewMatch(form) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddingMatchToCompet", "Compet")',
                    data: form,
                     success: function () {
                         window.location.href = '@Url.Action("GetMatchOnCompet", "Compet")' + "?idCompet=" + $("#SelectedChampionship").val();
                    }

                });
            }


</script>