﻿@model GalactikFouteBole.Models.Competition
@{

    ViewBag.Title = "Rencontre lors de la compétition  " + Model.CompetitionName;
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;

}
<div class="text-center">
    <hr />
    <h1>@Model.CompetitionName</h1>
    <img src="@Model.ImageCompet" />
    <h2>LES RENCONTRES</h2>
    @if (currentUser != null && currentUser.IsAdmin)
    {
        <button id="comp_@Model.Id">Ajouter un match à ce championnat</button>
    }
</div>
@foreach (var item in Model.CompetMatchs)
{
    <div class="text-center">
        <hr />
        <h3 id="match_@item.IdMatch">@item.NomMatch</h3>

        @foreach (var item2 in item.Equipes)
        {

        <img src="@item2.ImgTeam" />
        }
        @if (item.NombreButEquipe1 >= item.NombreButEquipe2)
        {
        <h4 style="text-align:center;">Score : @item.NombreButEquipe1 -  @item.NombreButEquipe2</h4>

        }
        else
        {
        <h4 style="text-align:center;">Score : @item.NombreButEquipe2 - @item.NombreButEquipe1</h4>
        }

        <hr />

    </div>
}

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script>

    $("button[id^='comp_']").click(function () {

        var id = this.id.substring(5);
        window.location.href = '@Url.Action("AddMatchToCompet", "Compet")';

    });


</script>