﻿@model  GalactikFouteBole.Models.Stats
@{
    ViewBag.Title = "Moyenne statistique de la totalité des équipes pour la compéition : " + ViewData["NomCompet"];
}


<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


<!-- HTML -->
<div id="chartdiv"></div>	
<!-- Chart code -->
<script>
    @*var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "dataProvider": [{
            "stat": "Tir Cadré",
            "value": @ViewData["TirCadre"]
  },
    {
    "stat": "Carton Jaune",
    "value": @ViewData["CartonJaune"]
  },
    {
    "stat": "Carton Rouge",
    "value": @ViewData["CartonJaune"]
  },
    {
    "stat": "Possession de balle",
    "value": @ViewData["Possession"]
  },
    {
    "stat": "Passes reussites",
    "value": @ViewData["Passes"]
  },
    {
    "stat": "Duels aeriens gagnés",
    "value": @ViewData["Dududu"]
  }    ],
  "valueAxes": [ {
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  } ],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [ {
    "balloonText": "[[category]]: <b>[[value]]</b>",
    "fillAlphas": 0.8,
    "lineAlpha": 0.2,
    "type": "column",
    "valueField": "value"
  } ],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "stat",
  "categoryAxis": {
    "gridPosition": "start",
    "gridAlpha": 0,
    "tickPosition": "start",
    "tickLength": 20
  },
  "export": {
    "enabled": true
  }

    });*@

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "theme": "light",
        "dataProvider": [{
            "stat": "Tir Cadré",
            "value": @ViewData["TirCadre"]
        }, {
            "stat": "Cartons Jaunes",
            "value": @ViewData["CartonJaune"]
        }, {
            "stat": "Cartons Rouges",
            "value": @ViewData["CartonRouge"]
        }, {
            "stat": "Possession De Balle",
            "value": @ViewData["Possession"]
        }, {
            "stat": "Passes Réussies",
            "value": @ViewData["Passes"]
        }, {
            "stat": "Duel Aériens gagnés",
            "value": @ViewData["Dududu"]
        }],
        "valueField": "value",
        "titleField": "stat",
        "balloon": {
            "fixedPosition": true
        },
        "export": {
            "enabled": true
        }
    });
</script>