﻿@model IEnumerable<GalactikFouteBole.Models.Competition>
@{
    ViewBag.Title = "Liste des compétitions";
}

<h2>Liste des compétitions</h2>

@foreach (var comp in Model)
{
    <hr />
    <div>
        <h3>@comp.CompetitionName</h3>
        <img src="@comp.ImageCompet"/>
        <p>Date de début : @comp.DateDebut</p>
        <p>Date de fin : @comp.DateFin</p>
        <button id="comp_@comp.Id"  >Afficher les statistiques moyennes de cette compétition </button>
        <button id="competition_@comp.Id">Résultats des matchs de la compétition</button>
        <div id="competitionStats"></div>
        <hr />
        <h4>Liste des équipes ayant participé</h4>
        @foreach(var team in comp.ListTeamParticipate)
        {
            <h6>@team.TeamName</h6>
            <a href="@Html.Raw(Url.Action("TeamDetails","Team") + "?idTeam=" + team.TeamId)"> <img src="@team.ImgTeam"/></a>
        }
    </div>
    <hr />
}
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
    }
</style>

<!-- Resources -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script>

    $("button[id^='comp_']").click(function () {

        var id = this.id.substring(5);
        $("#competitionStats").load('@Url.Action("GetStatsForCompet", "Compet")' + "?idCompet=" + id)
    });

    $("button[id^=competition_").click(function () {

        var id = this.id.substring(12);
        var url = '@Url.Action("GetMatchOnCompet", "Compet")?idCompet=' + id;
        location.href = url;
    });

  


</script>


