﻿@model IEnumerable<GalactikFouteBole.Models.Comment>
@{
    ViewBag.Title = "Index";
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <h2>Profil de l'utilisateur</h2>
    @if (currentUser.IsAdmin)
    {
        <h2 style="color: red;"><strong>ADMINISTRATEUR</strong></h2>
        <div><a href="@Url.Action("Index", "Blogs")">liste de tous les blogs</a></div>
        <div><a>liste des users (todo ?)</a></div>

        <hr/>
        if (Model.Any<GalactikFouteBole.Models.Comment>())
        {
            <p>Liste des commentaires en attente de validation :</p>
            <table style="border:1px solid black;">
                <tr>
                    <th>Auteur</th>
                    <th>Contenu</th>
                    <th>Valide</th>
                </tr>
                @foreach (GalactikFouteBole.Models.Comment com in Model)
                {
                    <tr>
                        <td>@com.Author</td>
                        <td>@com.Body</td>
                        <td><input type="checkbox" value="@com.HasBeenAccepted" id="cb_@com.Id"></td>
                    </tr>
                }
            </table>
            <button id="validate-comments" style="button">Appliquer</button>
            <hr />
        }
    }
    else
    {
        <h2 style="color: blue;"><strong>POUSSIERE</strong></h2>
    }
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Modifiez vos informations :</h3>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <form id="Form_UpdateUserFields" method="post">
                        <div class="form-bottom">
                            <div class="form-group">
                                <label " for="UserName">Utilisateur</label>
                                <input type="text" name="UserName" placeholder="Utilisateur" class="form-username form-control" id="UserName" value="@currentUser.UserName" />
                            </div>
                            <div class="form-group">
                                <label " for="Password">Mot de passe</label>
                                <input type="password" name="Password" placeholder="Mot de passe" class="form-password form-control" id="Password" value="@currentUser.Password" />
                            </div>
                            <div class="form-group">
                                <label " for="Email">Email</label>
                                <input id="Email" name="Email" type="email" value="@currentUser.Email" class="form-control" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label " for="IdCivility">Civilité</label>
                                <input id="IdCivility" name="IdCivility" value="@currentUser.IdCivility" class="form-control" placeholder="Civilité" />
                            </div>
                            <div class="form-group">
                                <label " for="Name">Nom de famille</label>
                                <input id="Name" name="Name" value="@currentUser.Name" class="form-control" placeholder="Nom de famille" />
                            </div>
                            <div class="form-group">
                                <label " for="FirstName">Prénom</label>
                                <input id="FirstName" name="FirstName" value="@currentUser.FirstName" class="form-control" placeholder="Prénom" />
                            </div>
                            <div class="form-group">
                                <label " for="Address">Adresse</label>
                                <input id="Address" name="Address" value="@currentUser.Address" class="form-control" placeholder="Adresse" />
                            </div>
                            <div class="form-group">
                                <label " for="AddressComplement">Complément d'adresse</label>
                                <input id="AddressComplement" name="Address" value="@currentUser.AddressComplement" class="form-control" placeholder="Complément d'adresse" />
                            </div>
                            <div class="form-group">
                                <label " for="PostalCode">Code postal</label>
                                <input id="PostalCode" name="PostalCode" value="@currentUser.PostalCode" class="form-control" placeholder="Code postal" />
                            </div>
                            <div class="form-group">
                                <label " for="City">Ville</label>
                                <input id="City" name="City" value="@currentUser.City" class="form-control" placeholder="Ville" />
                            </div>
                            <div class="form-group">
                                <label " for="Phone">Numéro de téléphone</label>
                                <input id="Phone" name="Phone" value="@currentUser.Phone" class="form-control" placeholder="Numéro de téléphone" />
                            </div>
                            <div class="form-group">
                                <label " for="SubscriberNumber">Numéro d'inscrit</label>
                                <input id="Phone" name="Phone" value="@currentUser.SubscriberNumber" class="form-control" placeholder="Numéro d'inscrit" />
                            </div>
                            <div class="form-group">
                                <label " for="Birthday">Date de naissance</label>
                                <input id="Phone" name="Phone" value="@currentUser.Birthday" class="form-control" placeholder="Date de naissance" />
                            </div>
                            <div class="form-group">
                                <label " for="IdCountry">Pays (Id en base mais string ici)</label>
                                <input id="IdCountry" name="IdCountry" value="@currentUser.IdCountry" class="form-control" placeholder="Pays (Id en base mais string ici" />
                            </div>
                            <div class="form-group">
                                <label " for="State">Etat / Région</label>
                                <input id="State" name="State" value="@currentUser.State" class="form-control" placeholder="Etat / Région" />
                            </div>
                            <div class="form-group">
                                <label " for="NewsLetterSub">Inscription à la newsletter</label>
                                <input id="NewsLetterSub" name="NewsLetterSub" value="@currentUser.NewsLetterSub" type="checkbox" class="form-control" placeholder="Inscription à la newsletter" />
                            </div>
                            <div class="form-group">
                                <label " for="OffersSub">Inscriptions aux offres</label>
                                <input id="OffersSub" name="OffersSub" value="@currentUser.OffersSub" type="checkbox" class="form-control" placeholder="Inscriptions aux offres" />
                            </div>
                            <div class="form-group">
                                <label " for="Admin">Status d'administrateur</label>
                                <input id="Admin" name="Admin" value="@currentUser.IsAdmin" type="checkbox" class="form-control" placeholder="Status d'administrateur" />
                            </div>
                            <button id="form_Validate" class="btn">Valider</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @section Scripts{
        <script>
            $("#form_Validate").click(function () {
                $.ajax({
                    url: '@Url.Action("UpdatedUserFields", "UserProfile")',
                    type: "POST",
                    data: $('#Form_UpdateUserFields').find("input").serialize(),
                    success: function(data) {
                        window.location.href = data
                    }
                });
            });

            $('#validate-comments').click(function () {
                var comsToValidate = [];
                $("input[id^=cb_]").each(function () {
                    if ($(this).is(":checked")) {
                        comsToValidate.push(this.id.substring(3));
                    }
                });
                if (comsToValidate.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ValidateComs", "UserProfile")",
                        data: { comsToValidate: comsToValidate },
                        success: function () {
                            window.location.reload();
                        },
                        error: function () {
                            window.location.reload();
                        }
                    });
                }
            });

        </script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    </body>
</html>

}