﻿
@model IEnumerable<GalactikFouteBole.Models.Competition>
@{
}


<!-- HTML -->
<div>
    @foreach (var item in Model)
    {
        <button id="button_@item.Id">Statistique pour la compétition @item.CompetitionName</button>
    }
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script>
   
        $("button[id^='button_']").click(function (e) {
            e.preventDefault();
            var idCompet = this.id.substring(7);
            var idTeam = @ViewData["TeamId"];
                $("#GraphMofo").load('@Url.Action("GetTeamStatsOnCompet", "Team")' +
                    "?idTeam=" +
                    idTeam +
                    "&idCompet=" +
                idCompet);
               
            }
    );


</script>