﻿@model GalactikFouteBole.Models.Team
@{
    ViewBag.Title = "Edition de l'équipe ";
}

<h2>Modification de l'équipe @Html.Raw(ViewData["teamName"])</h2>

<form>
    <input id="teamName" name="TeamName" value="@Model.TeamName"/> <br />
    <textarea id="teamDescription" name="description">@Model.description</textarea> <br /> 
    <input hidden id="idTeam" name="TeamId" value="@Model.TeamId" />
    <img src="@Url.Content("~/Content/ImgTeam/" + Model.TeamId + ".png")"<br />

    
</form>
<button id="submitForm">Edition de l'équipe</button>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

    $("#submitForm").click(function () {
        var idTeam = $("#idTeam").val() ;
        var teamName =  $("#teamName").val();
        var teamDescription = $("#teamDescription").val();
        PostDetailsTeam(idTeam, teamName, teamDescription);
    });

    function PostDetailsTeam(idTeam, teamName, teamDescription) {
                $.ajax({
                    url: '@Url.Action("EditingTeamDetails", "Team")',
                    type: "POST",
                    data: { idTeam: idTeam, TeamName: teamName, description: teamDescription},
                    success: function(data) {
                        window.location.href = data
                    }
                });

            }
</script>