﻿@model IEnumerable < GalactikFouteBole.Models.Team>
@{
    ViewBag.Title = "Team";
}

<div>
    @foreach (GalactikFouteBole.Models.Team team in Model)
    {
    <div>
        <hr />
        <a href="@Url.Action("TeamDetails", "Team", new { idTeam = team.TeamId })">
            <h2>@team.TeamName</h2>
            <img src="@team.ImgTeam" />
        </a>
        <hr />
    </div>
    }
</div>

