﻿@model GalactikFouteBole.Models.Team
@{
    ViewBag.Title = "Details Equipe";
}
<div class="container">
    <hr />
    @if (GalactikFouteBole.Globals.Variables.CurrentUser.IsAdmin)
    {
        <button id="editTeam">Editer cette équipe </button>
    }
    <p style="text-align:center">
        <img src="@Model.ImgTeam" /></p>
        <h3 style="text-align:center;">@Model.TeamName</h3>
        <h6>@Model.description</h6>
    <div id="GraphMofo"></div>
    <hr />
</div>

<hr />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script>

    $("#editTeam").click(function () {
        window.location.href = '@Url.Action("EditTeamDetails", "Team")' + "?idTeam=" + @Model.TeamId
    })
    //Appel du controller
    $("#GraphMofo").load('@Url.Action("GetCompetTeams","Team")' + "?idTeam=" + @Model.TeamId)
   
    
    
 

</script>