﻿@model GalactikFouteBole.Models.Team
@{
    ViewBag.Title = "teamStats";
}

<script type="text/javascript" src="~/Scripts/amcharts/amcharts.js"></script>

<h2>teamStats</h2>

<div id="colStats">
    
</div>

<script type="text/javascript">


    var colChart = AmCharts.makeChart('colStats', {
        'type': 'serial',
        'theme': 'light',
        'dataProvider': [{
            "country": "@Model.TeamName",
            "visits": @ViewData["TirCadre"]
        }, {
            "country": "China",
            "visits": 1882
        }, {
            "country": "Japan",
            "visits": 1809
        }, {
            "country": "Germany",
            "visits": 1322
        }, {
            "country": "UK",
            "visits": 1122
        }, {
            "country": "France",
            "visits": 1114
        }, {
            "country": "India",
            "visits": 984
        }, {
            "country": "Spain",
            "visits": 711
        }, {
            "country": "Netherlands",
            "visits": 665
        }, {
            "country": "Russia",
            "visits": 580
        }, {
            "country": "South Korea",
            "visits": 443
        }, {
            "country": "Canada",
            "visits": 441
        }, {
            "country": "Brazil",
            "visits": 395
        }],
        "valueAxes": [{
            "gridColor": "#FFFFFF",
            "gridAlpha": 0.2,
            "dashLength": 0
        }],
        "gridAboveGraphs": true,
        "startDuration": 1,
        "graphs": [{
            "balloonText": "[[category]]: <b>[[value]]</b>",
            "fillAlphas": 0.8,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }]
    });
    

</script>