﻿@{ 
    GalactikFouteBole.Models.User currentUser = GalactikFouteBole.Globals.Variables.CurrentUser;
    String userName = "Aucun";
    if (currentUser != null)
    {
        userName = currentUser.UserName;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Galaktik Foute Bole</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GalakTikeFouteBole", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Profil utilisateur", "Index", "UserProfile")</li>
                    <li>@Html.ActionLink("Blogs", "Index", "Blogs")</li>
                    <li>@Html.ActionLink("Compéitions", "Index", "Compet")</li>
                    <li>@Html.ActionLink("Equipes", "Index","Team")</li>
                    <li>@Html.ActionLink("Connexion", "Connect", "Home")</li>
                    <li>@Html.ActionLink("Deconnexion", "Disconnect", "Home")</li>
                    <li style="color: red; font-weight: bold">Utilisateur connecté : @userName</li>
                </ul>
            
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GalaktikFouteBole</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
